<div class="dashboard">
    <div class="statistics-grid_container">
        <div class="grid-item item1">
            <div class="item-text">
                <h1>ORDERS</h1>
                <h1>{{statisticsData.orderCount}}</h1>
            </div>
        </div>

        <div class="grid-item item2">
            <div class="item-text">
                <h1>INVENTORIES</h1>
                <h1>{{statisticsData.inventoryCount}}</h1>
            </div>
        </div>

        <div class="grid-item item3">
            <div class="item-text">
                <h1>INVENTORY CATEGORIES</h1>
                <h1>{{statisticsData.inventoryCategoryCount}}</h1>
            </div>
        </div>
        <div class="grid-item item4">
            <div class="item-image image4"></div>
            <div class="item-text">
                <h1>VEHICLE TYPES</h1>
                <h1>{{statisticsData.vehicleTypeCount}}</h1>
            </div>
        </div>
        <div class="grid-item item5">
            <div class="item-image image5"></div>
            <div class="item-text">
                <h1>VEHICLES</h1>
                <h1>{{statisticsData.vehicleCount}}</h1>
            </div>
        </div>
        <div class="grid-item item6">
            <div class="item-image image6"></div>
            <div class="item-text">
                <h1>DRIVERS</h1>
                <h1>{{statisticsData.driverCount}}</h1>
            </div>
        </div>
    </div>
</div>