<div class="container-fluid d-flex justify-content-around mt-5 mb-5">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Customer
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Customer Name</li>
            <li class="list-group-item">Customer Email</li>
            <li class="list-group-item">Customer Phone</li>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Delivery Address
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Address</li>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Order Created At
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Order Date</li>
        </ul>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Payment Method
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cash on Delivery</li>
        </ul>
    </div>
</div>