<div class="order-container">

    <div class="container mt-5">
        <div class="h2 fw-medium text-uppercase">
          Order Summary
          <hr/>
        </div>
      </div>

    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-header fs-5 fw-medium">
                        Customer
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex p-2 gap-2 align-items-center">
                                <mat-icon  class="text-dark" aria-hidden="false"
                                    aria-label="Example description icon" fontIcon="person"
                                    matTooltipPosition='right'></mat-icon>
                                <p>{{user.name}}</p>

                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex p-2 gap-2 align-items-center">
                                <mat-icon  class="text-dark" aria-hidden="false"
                                    aria-label="Example description icon" fontIcon="email"
                                    matTooltipPosition='right'></mat-icon>
                                <p>{{user.email}}</p>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex p-2 gap-2 align-items-center">
                                <mat-icon  class="text-dark" aria-hidden="false"
                                    aria-label="Example description icon" fontIcon="phone"
                                    matTooltipPosition='right'></mat-icon>
                                <p>{{user.phone}}</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-header fs-5 fw-medium">
                        Delivery Address
                    </div>
                    <ul class="list-group list-group-flush mt-2">
                        <li class="list-group-item">
                            <div class="d-flex p-2 gap-2 align-items-center">
                                <mat-icon  class="text-dark" aria-hidden="false"
                                    aria-label="Example description icon" fontIcon="location_city"
                                    matTooltipPosition='right'></mat-icon>
                                <p> {{userAddress.address}}, {{userAddress.city}}, {{ userAddress.state
                                    }}, {{ userAddress.country }}, {{ userAddress.pincode }}</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-header fs-5 fw-medium">
                        Order Date
                    </div>
                    <ul class="list-group list-group-flush mt-2">
                        <li class="list-group-item">
                            <div class="d-flex p-2 gap-2 align-items-center">
                                <mat-icon  class="text-dark" aria-hidden="false"
                                    aria-label="Example description icon" fontIcon="today"
                                    matTooltipPosition='right'></mat-icon>
                                <p> {{order[0]?.orderDate | date}}</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="card-header fs-5 fw-medium">
                        Payment Method
                    </div>
                    <ul class="list-group list-group-flush mt-2">
                        <li class="list-group-item">
                            <div class="d-flex p-2 gap-2 align-items-center">
                                <mat-icon  class="text-dark" aria-hidden="false"
                                    aria-label="Example description icon" fontIcon="payment"
                                    matTooltipPosition='right'></mat-icon>
                                <p> Cash on Delivery</p>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            
            <div class="col-md-6 col-lg-3">
                <div class="card h-100">
                    <div class="card-header fs-5 fw-medium">
                        Order Status
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <p>{{order[0].status}}</p> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <!-- order-tracking.component.html -->

  
    
    <div class="container mt-3 mb-5">
        <div class="card ">
            <div class="card-header fs-5 fw-medium d-flex justify-content-between">

                <div>Order #{{order[0]?.id}}</div>
                <span [ngClass]="{'badge': true, 'text-bg-secondary': order[0].statusId === 1, 'text-bg-warning': order[0].statusId === 2, 'text-bg-success': order[0].statusId === 3}" class="p-2 fw-medium">
                    {{ order[0].status }}
                  </span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">PRODUCT</th>
                                <th scope="col">QUANTITY</th>
                                <th scope="col">UNIT PRICE</th>
                                <th scope="col">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of orderedProduct">
                                <td>
                                    <div class="d-flex flex-wrap align-items-center gap-3">
                                        <img [src]="product?.image"
                                            class="img-fluid rounded img-thumbnail product-image" [alt]="product?.name">
                                        <div class="">
                                            <p class="fw-bold text-gray-600 text-hover-primary">{{ product?.name }}</p>
                                            <p class="fs-7 text-muted">{{ product?.categoryName }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ order[0]?.quantity }}</td>
                                <td>{{ product?.price | currency:'INR' }}</td>
                                <td>{{ (product?.price * order[0]?.quantity) | currency:'INR' }}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="fs-5 text-end fw-medium">Grand Total</td>
                                <td class=" fs-4 fw-bolder text-end">{{ order[0]?.totalAmount |
                                    currency:'INR' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>