<div class="order-container">
  <div *ngIf="orders.length < 1" class="card mt-5 p-5">
    <h1 class="text-center">You haven't placed any order yet</h1>
    <div class="d-flex flex-column justify-content-center">
      <button type="submit" class="btn btn-primary rounded-2 p-2 mt-4"
      routerLink="/customer/home" >Shop Now</button>
  </div>
  </div>

  <div *ngIf="orders.length > 0" class="container example-container my-5">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="pName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
          Prouduct Name
        </th>
        <td mat-cell *matCellDef="let element"> {{element.inventoryName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Quantity
        </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
          Total Amount
        </th>
        <td mat-cell *matCellDef="let element"> {{element.subTotal | currency:'INR'}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="oDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
          Order Date
        </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="oStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
          Order Status
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.orderStatusId === 1">
            <span class="btn btn-secondary btn-sm text-light">Placed</span>
          </ng-container>
          <ng-container *ngIf="element.orderStatusId === 2">
            <span class="btn btn-warning btn-sm text-light">Out For Delivery</span>
          </ng-container>
          <ng-container *ngIf="element.orderStatusId === 3">
            <span class="btn btn-success btn-sm">Delivered</span>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>